body {
  background-image: url(../public/background.jpg);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
}

.all {
  /* background-color: aqua; */
  display: flex;
  display: inline-block;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gameTitle {
  background-color: rgb(117, 91, 6);
  color: rgb(218, 207, 207);
  border-radius: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: xx-large;
  text-align: center;
}

p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(218, 207, 207);
  text-align: center;
  padding: 10px;
  background-color: rgb(64, 5, 82);

  border-radius: 5px;
}

.game-board {
  transform: scale(1.2);
  margin-top: 40px;
  /* background-color: blue; */
  display: flex;
  justify-content: center;
}

.status {
  background-color: rgb(131, 9, 9);
  font-size: x-large;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-top: 15px;
  color: rgb(218, 207, 207);
  text-align: center;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 10px;
}

.square {
  background: #d6caca;
  border-radius: 10px;
  border: 3px solid #000000;
  font-weight: bold;
  line-height: 34px;
  height: 100px;
  width: 100px;
  padding: 0;
  cursor: pointer;
}

.square:focus {
  outline: none;
}

.game {
  /* background-color: rgb(85, 35, 142); */
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.infoButtons {
  justify-content: center;
  align-items: center;

  padding: 10px;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  /* background-color: white; */
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translateX(-50%);
}

.historyButton {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: #700d0d;
  color: white;
  padding: 10px 20px;
  font-size: 15px;
  margin: 1px 1px;
  cursor: pointer;
  border-radius: 9px;
  transition: background-color 0.3s ease;
}

.historyButton:hover {
  background-color: #681980;
}

/* .historyButton:active {
  background-color: #3e8e41;
  transform: translateY(2px);
} */

.vertical-rotate {
  animation: rotateY 0.5s linear;
}

@keyframes rotateY {
  from {
    transform: rotateY(180deg);
  }
  to {
    transform: rotateY(0deg);
  }
}

@keyframes fire {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -100% 100%;
  }
}

/* estilos para tablets */

@media (max-width: 768px) {
  h1 {
    font-size: x-large;
    padding: 8px;
  }

  p {
    font-size: medium;
    padding: 8px;
  }

  .square {
    height: 80px;
    width: 80px;
    line-height: 24px;
    border: 2px solid #000000;
  }

  .status {
    font-size: large;
    padding: 4px;
  }

  .historyButton {
    padding: 8px 16px;
    font-size: 14px;
  }
}

/* estilos para smartphones */
@media (max-width: 479px) {
  h1 {
    font-size: large;
    padding: 6px;
  }

  p {
    font-size: small;
    padding: 6px;
  }

  .square {
    height: 75px;
    width: 75px;
    line-height: 40px;
    border: 2px solid #000000;
  }

  .status {
    font-size: medium;
    padding: 3px;
  }

  .infoButtons {
    display: flex;
    background-color: white;
  }

  .historyButton {
    padding: 12px 12px;
    font-size: 12px;
  }
}
